body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100vh;
}

h1 {
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 0 1rem;
}

h2 {
    font-size: 1.1rem;
    font-weight: bold;
}

summary, button, [type="button"] {
    cursor: pointer;
}

button, [type="button"] {
    transition: background-color 0.3s, color 0.3s;
    padding: 0.75rem;
}

button:hover, [type="button"]:hover {
    background-color: orange;
    color: white;
}

dialog, button, [type="button"] {
    border-radius: 3px;
}

[disabled] {
    cursor: not-allowed;
}

body > header {
    background-color: black;
    box-sizing: border-box;
    color: white;
}

main {
    height: calc(100vh - 2rem);
    position: relative;
    overflow-x: hidden;
}

@media (min-width: 35rem) {
    main {
        display: grid;
        grid-template-columns: 70% auto;
    }
}

#map {
    height: calc(100vh - 4rem - 1px);
    border-top: 1px solid white;
}

#map-information {
    position: relative;
    height: inherit;
}

@media (min-width: 35rem) {
    #map-information {
        overflow-x: hidden;
    }
}

#map-information ul {
    height: inherit;
}

@media (max-width: 35rem) {
    #map-information ul {
        overflow-x: hidden;
    }
}

#map-information li {
    margin: 0 0 2rem 0;
}

#map-information figure {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.5rem;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.05+100 */
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.03) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.03) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.03) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}

#map-information img {
    width: inherit;
}

#map-information img:not(.loaded) {
    background: url("../images/image-loader.gif") 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 5rem;
    height: 7rem;
    display: block;
    color: transparent;
}

@media (max-width: 35rem) {
    #map-information img:not(.loaded) {
        background-size: 3rem;
    }
}

#map-information h2 {
    padding: 1rem;
    margin: 0 0 0.5rem 0;
    color: white;
    background-color: orange;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}

#map-information p {
    padding: 0.25rem 1rem;
    margin: 0 0 0.5rem 0;
}

#map-information p:last-child {
    margin-bottom: 0;
}

@media (max-width: 35rem) {
    #map-information {
        position: absolute;
        right: 0;
        top: 0;
        width: 20%;
        background-color: rgba(255, 255, 255, 0.4);
        height: calc(100vh - 4rem - 1px);
        color: white;
        transform: translateX(0%);
        transition: transform 0.3s;
    }
    #map-information figcaption {
        display: none;
        visibility: hidden;
    }
    #map-information h2 {
        box-sizing: border-box;
        position: absolute;
        right: 100%;
        width: 80vw;
        text-align: left;
    }
    #map-information ul {
        padding-top: 1rem;
    }
    #map-information li {
        cursor: pointer;
    }
    #map-information.mobile-information-hidden {
        transform: translateX(100%);
    }
}

footer {
    background-color: black;
    min-height: 2rem;
    color: white;
    position: relative;
}

@media (max-width: 35rem) {
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        z-index: 100;
    }
}

footer details {
    position: absolute;
    z-index: 30;
    bottom: 0;
    left: 0;
    border-top: 1px solid white;
    min-height: 1px;
    transition: min-height 0.5s;
    background-color: inherit;
    width: 100%;
    padding: 1rem;
}

footer details[open] {
    min-height: 6rem;
}

footer details[open] summary {
    margin-bottom: 0.5rem;
}

footer ul {
    padding-left: 1rem;
}

footer li {
    list-style-type: square;
    margin-bottom: 0.5rem;
    font-weight: lighter;
}

footer li:last-child {
    margin-bottom: 0;
}

dialog {
    position: fixed;
    width: calc(100vw - 10vmin);
    max-height: calc(100vh - 10vmin);
    top: 5vmin;
    left: 5vmin;
    margin: 0;
    padding: 1rem 1rem 0 1rem;
    box-sizing: border-box;
    z-index: 120;
    overflow-y: scroll;
    border: 0;
    box-shadow: 0 0 0 70vmax rgba(0, 0, 0, 0.8);
    display: block;
}

dialog img {
    width: 100%;
    margin-bottom: 1rem;
}

dialog p {
    margin-bottom: 1rem;
}

dialog p:last-child {
    margin-bottom: 0;
}

dialog button {
    margin: 1rem 0 1rem 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    min-height: 2rem;
    line-height: 1rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
}

@media (min-width: 35rem) {
    dialog {
        display: none !important;
        visibility: hidden !important;
    }
}

@keyframes loader {
    to {
        background-position: -40rem 0;
    }
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: 5rem;
    background: url("../images/loader.svg") 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    animation: loader 0.7s infinite steps(8);
    border-radius: 1rem;
}

.mapboxgl-control-container > *:not(.mapboxgl-ctrl-top-right), .hidden {
    display: none !important;
    visibility: hidden !important;
}

@media (max-width: 35rem) {
    .mapboxgl-ctrl-geocoder.information-box-open {
        top: 3rem;
        right: 20vw;
    }
}

@keyframes zerostate-component-fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zerostate-fadeout {
    0% {
        opacity: 1;
        visibility: visible;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#begin-street-year {
    font-weight: bold;
}

#main-zero-state {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    animation: zerostate-fadeout 7s;
    pointer-events: none;
}

@media (max-width: 35rem) {
    #main-zero-state {
        display: none !important;
        visibility: hidden !important;
    }
}

#main-zero-state * {
    position: absolute;
    display: block;
}

#zerostate-controls, #zerostate-photos1 {
    width: 25rem;
}

#zerostate-title {
    top: 50vh;
    transform: translateY(-50%);
    width: 90vw;
    left: 5vw;
}

#zerostate-controls {
    bottom: 3rem;
    left: 0;
    animation: zerostate-component-fadein 2s;
}

#zerostate-photos1 {
    right: 0;
    bottom: 3rem;
    animation: zerostate-component-fadein 2s;
}
